<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all articles</title>

    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/asserts/css/index.css" th:href="@{/asserts/css/article.css}" rel="stylesheet">
</head>
    <body>

<!--        <div class="nav-scroller bg-white sha dow-sm text-muted ml-5 mr-5" th:if="${session.loginUser != null}">-->
        <div class="nav-scroller bg-white sha dow-sm text-muted ml-5 mr-5">
            <nav class="nav nav-underline ml-3 mr-3">
<!--                <a class="nav-link active" th:href="@{/dashboard}"  th:if="${session.loginUser != null}">Dashboard</a>-->
                <a class="nav-link active" th:href="@{/dashboard}">Dashboard</a>
                <a class="nav-link">
                    Articles
                    <span class="badge badge-pill bg-light align-text-bottom" th:text="${articles.size()}" th:href="@{/articles}">27</span>
                </a>
            </nav>
        </div>

        <main role="main">
            <div class="album py-5 bg-light">
                <div class="container">

                    <h1 class="row border-bottom border-dark">
                        Post
                    </h1>


                    <div class="row mb-2" th:each="article:${articles}">
                        <div class="col-md-6 text-left">
                            <a class="content-post-title" th:href="@{/article/} + ${article.getId()}" th:text="${article.getTitle()}"></a>
                        </div>
                        <div class="col-md-6 text-right" th:text="${#dates.format(article.getTimestamp(), 'dd/MMM/yyyy')}"></div>
                    </div>

                </div>
            </div>

        </main>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>